{% extends "parent.njk" %}

{%block main%}
    <div class="card card-lg">

        <div class="header">
            <h2 class="card-title">Admin Dashboard</h2>
            <button class="btn header-btn" onclick="sortList()">Sort by latest updated</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Member Name</th>
                    <th>Submitted By</th>
                    <th>Sumitted At</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>{{member.name}}</td>
                        <td>{{member.username}}</td>
                        <td>{{member.updatedAt}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    {% include "partials/logout.njk" %}
    
{%endblock main%}